body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f5f5dc;
    flex-direction: column;
}

/* Title container */
#title {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 5;
}

/* Title image styling */
.title-image {
    width: 50%;
    height: auto;
    margin-top: 5%;
    text-align: center;
}

/* Menu container */
#menu {
    text-align: center;
    position: absolute;
    margin-top: 15%;
}

/* Input field styling */
.name-input {
    width: 50vw;
    height: 25%;
    padding: 0.3em;
    margin-bottom: 0.5em;
    border: 4px solid #d4a373;
    border-radius: 15px;
    font-size: 2.5vw;
    color: black;
    text-align: left;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Rail image styling */
.rail-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 70%;
    z-index: -1;
}

/* Buttons div style */
.buttons{
    display: flex;
    width: 100%;
    flex-direction: row;
}

/* Difficulty conainer */
.difficulty-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 5px solid rgb(95, 158, 160);
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding: 0.3em;
    margin: 0 auto;
}


/* d_title */
.d_title{
    font-size: 1.5vw;
    color: rgb(95, 158, 160);
    margin: 5%;
    white-space: nowrap;
    text-align: center;
}

/* d_options */
.d_options{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 0.2em;
}

/* d_easy */
.d_easy{
    background-color: white;
    border: 3px solid rgb(95, 158, 160);
    border-radius: 15px;
    font-size: 3vw;
    flex: 1;
    color: rgb(95, 158, 160);
    margin-right: 0.2em;
    margin-left: 0.2em;
}

/* d_hard */
.d_hard{
    background-color: white;
    border: 3px solid rgb(95, 158, 160);
    border-radius: 15px;
    font-size: 3vw;
    flex: 1;
    color: rgb(95, 158, 160);
    margin-right: 0.2em;
    margin-left: 0.2em;
}

/* d_easy & d_hard hover */
.d_easy:hover, .d_hard:hover {
    background-color: rgb(173, 216, 230);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

/* d_texts */
.d_texts{
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* text_easy */
.text_easy{
    background-color: white;
    font-size: 1vw;
    flex: 1;
    color: rgb(95, 158, 160);
}

/* text_hard */
.text_hard{
    background-color: white;
    font-size: 1vw;
    flex: 1;
    color: rgb(95, 158, 160);
}

/* start_description */
.start_description input[type="button"] {
    background-color: #e0e0e0;
    border: none;
    border-radius: 15px;
    font-size: 1.2vw;
    padding: 0.5em 1em;
    margin-left: 0.1em;
    cursor: pointer;
    width: 95%;
    height: 100%;
}

/* description_button */
#description_button,#start_button{
    background-color: rgb(95, 158, 160);
    font-size: 2vw;
    color: black;
    border: 3px solid rgb(100, 200, 170);
    height: 45%;
    display: flex;
    flex: 1;
    margin-left: 0.4em;
}

/* start_button */
#start_button{
    background-color: lightgray;
    color: white;
    border: 3px solid darkgray;
    margin-top: 5%;
}

/* start_button & description_button hover */
#start_button:hover, #description_button:hover {
    background-color: rgb(70, 130, 180); 
    color: white;
    cursor: pointer; 
    transform: scale(1.05);
    transition: 0.3s;
}

/* style change on click */
.selected {
    background-color: rgb(173, 216, 230);
    color: white;
    transform: scale(1.05);
}

/* Description */
.modal {
    display: none;
    position: fixed; 
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal tartalom */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    text-align: justify;
}

/* Bezáró gomb (x) */
.close {
    color: #aaa;
    float: right;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* GAME */

/* game */
.game{
    display: flex;
    flex-direction: row;
    width: 80%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/* title_datas */
.title_datas{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    flex-direction: column;
}

.title-image2{
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

/* datas */
.datas{
    background-color: white;
    border: 3px solid #d4a373;
    border-radius: 15px;
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

/* player_name_label */
.player_name_label, .timer_label{
    color: #888;
}

/* player_name, timer */
.player_name, .timer{
    font-size: 3vw;
}

/* hr */
hr {
    width: 80%;
    margin: 1vw auto;
    border: 1px solid #d4a373;
}

/* board */
.board{
    margin-top: 2%;
    background-color: #d4a373;
    border: 5px solid #d4a373;
    border-radius: 20px;
    display: flex;
    width: 40vw;
    height: 40vw;
    align-items: center;
    margin-left: 10%;
    z-index: 1;
    justify-content: center;
}

.table_class {
    border-collapse: collapse;
    padding: 0;
    height: 95%;
    width: 95%;
    justify-content: center;
}
  
.td_class {
    height: 4%;
    width: 4%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.cell-image{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

/* toplist board */
#toplist {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.toplist-table {
    border-collapse: collapse;
    background-color: white;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.toplist-table tr:hover {
    background-color: lightseagreen;
}

.toplist-table th, .toplist-table td {
    padding: 1%;
    text-align: center;
    border: 1px solid #ddd;
}

.toplist-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.new-entry {
    background-color: lightgreen;
    transition: background-color 10s ease;
}

.pressSpace{
    font-size: 1em;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: red;
}

.new_game{
    width: 70%;
    padding: 0.5vw;
    margin: 5%;
    background-color: #d4a373;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    font-weight: bold;
    font-size: 1.5vw;
}

.new_game:hover{
    background-color: rgb(90, 195, 231);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}